@import url('spectre.min.css');
@import url('prism.css');

html, body {
	height: 100%;
}

body {
	background: beige;
	color: #777;
	font-size: 16px;
}

section {
	height: 100vh;
	width: 100%;
	display: table;
	padding: 20px;
}

.content {
	display: table-cell;
}

section:first-child .content {
	vertical-align: middle;
}

.title {
	color: #1abc9c;
	text-shadow: 3px 2px 5px #777;
}

.subtitle {
	text-shadow: 1px 2px 2px #777;
}

.btn, a {
	border-color: #1abc9c;
	color: #1abc9c;
}

.btn:hover {
	border-color: #1abc9c;
	background: #1abc9c;
}

h3 {
	text-shadow: 1px 2px 2px #777;
}